.cover-bg{
    height: 250px;
    background-color: gray;
}

.cover-bg h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}