.btn-form {
    margin: 16px 0px;
    
}

.info-form {
    margin-top: 16px;
    padding-left: 16px;
    border: 2px solid gray;
    font-weight: bold;   
}

.name-product , .detail-product , .img-product{
    display: flex;
    gap: 16px;
    padding: 8px 0;
}

.price-product {
    display: flex;
    gap: 24px;
    padding: 8px 0;
}
